<h1>Sample App</h1>

<p>Hi <%= @user.name %></p>

<p>Welcome to the Sample App! Click on the link below to change you forgotten password:</p>

<%= link_to "Change password", edit_password_reset_url(@user.reset_token, email:@user.email) %>